<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script defer src="../static/script.js"></script>    

    <title>Duquesne Incline</title>
</head>
<body>
    <h1 id="webname">Duquesne Incline</h1>
    <img src="../static/duqinclinebanner.png" id="banner" alt="banner image" width="1600">
    <nav>
        <a href="../index.html" class="nav-link">Home</a>
        <a href="tour.html" class="nav-link">Fares and Tours</a>
        <a href="gift.html" class="nav-link">Gift Shop</a>
        <a href="history.html" class="nav-link">About the Incline</a>
        <a href="faqs.html" class="nav-link">FAQs</a>
        <a href="contact.html" class="nav-link">Contact and Find Us</a>
    </nav>

        <div class="main">
            <h2>Frequently Asked Questions</h2>
        </div>
        <div class="tan-container">
            <div class="early-section">
                <span class="question" id="shortIntro">1. How do I pay for my ride on the Duquesne Incline?</span>
                <span id="readMore">+</span><br>
                <span id="longIntro"><br>Please have exact cash fare upon arrival. The Duquesne Incline operates using a CASH fare 
                    system, similar to Pittsburgh’s buses and trolleys. No tickets, no advance payments, and no debit or credit cards are accepted. 
                    A change machine is available for your convenience.</span>
                <br>
                <span id="readLess">-</span>
            </div>
            <div class="early-section">
                <span id="shortIntro2">2. Do I need to purchase a ticket in advance?</span>
                <span id="readMore2">+</span><br>
                <span id="longIntro2"><br>No, tickets are not required in advance. Simply pay the exact fare when you arrive. There are no reservations 
                    required to ride the Duquesne Incline.</span>
                <br>
                <span id="readLess2">-</span>
            </div>
            <div class="early-section">
                <span id="shortIntro3">3. Are there any discounts available for seniors?</span>
                <span id="readMore3">+</span><br>
                <span id="longIntro3"><br>Yes! Pennsylvania Seniors 65 and older who present a BLUE or YELLOW PRT card or a Senior ConnectCard can ride for free. 
                    Otherwise, the standard adult fare applies. Please note, the Duquesne Incline is required to ask for a Pennsylvania Senior Citizen Transit ID 
                    card as proof of discount eligibility for reimbursement by the Commonwealth of Pennsylvania. No exceptions.</span>
                <br>
                <span id="readLess3">-</span>
            </div>
            <div class="early-section">
                <span id="shortIntro4">4. Are restrooms available?</span>
                <span id="readMore4">+</span><br>
                <span id="longIntro4"><br>Unfortunately, there are no restrooms available at the Duquesne Incline stations. 
                    We encourage visitors to plan accordingly before their visit.</span>
                <br>
                <span id="readLess4">-</span>
            </div>
            <div class="early-section">
                <span id="shortIntro5">5. What are the busiest times to visit the Duquesne Incline?</span>
                <span id="readMore5">+</span><br>
                <span id="longIntro5"><br>Saturdays and Sundays after noon tend to be the busiest times. 
                    Expect to wait in line for approximately 10 minutes in both directions during these peak hours.</span>
                <br>
                <span id="readLess5">-</span>
            </div>
            <div class="early-section">
                <span id="shortIntro6">6. Is the Duquesne Incline accessible for individuals with disabilities?</span>
                <span id="readMore6">+</span><br>
                <span id="longIntro6"><br>Yes! The Upper Station, located at 1220 Grandview Ave, Pittsburgh, PA 15211, is wheelchair accessible. 
                    Our observation deck is also wheelchair accessible, providing scenic views of Pittsburgh.
                    The Historic Incline cars can accommodate wheelchairs that are up to 25 inches in width. For more detailed information about accessibility, 
                    please<a href="contact.html">click here</a>for more about wheelchair access at our Upper Station.</span>
                <br>
                <span id="readLess6">-</span>
            </div>
        </div>
        <footer>Banner courtesy of "Visit Pittsburgh"</footer>

</body>
</html>
