<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script defer src="../static/script.js"></script>    

    <title>Duquesne Incline</title>
</head>

<h1 id="webname">Duquesne Incline</h1>
<img src="../static/duqinclinebanner.png" id="banner" alt="banner image" width="1600">
<nav>
    <a href="../index.html" class="nav-link">Home</a>
    <a href="tour.html" class="nav-link">Fares and Tours</a>
    <a href="gift.html" class="nav-link">Gift Shop</a>
    <a href="history.html" class="nav-link">About the Incline</a>
    <a href="faqs.html" class="nav-link">FAQs</a>
    <a href="contact.html" class="nav-link">Contact and Find Us</a>
</nav>

<body>
    <div class="main">
        <h2>About the Incline</h2>
    </div>
    <div class="main">
        <div id="video">
            <iframe width="672" height="378" src="https://www.youtube.com/embed/TyfUdaMItSI?si=_5VqRU94WAXrzkVZ" 
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

        <h4 id="early-history-header">Early History:</h4>
        <div class="early-section">
            <span id="shortIntro">The Duquesne Incline is one of those which follows very closely the tracks of an early coal hoist. 
                Old newspapers indicate the existence of such a conveyance as early as 1854. Residents apparently 
                referred to it as "Kirk Lewis' incline" and located it on the present site of The Duquesne Incline's 
                Upper Station. Grandview Avenue was then the High Street, and the area was just beginning to be converted 
                from farmland to homesites. This pleasantly-situated acreage was an excellent area to absorb some of the 
                expanding population of the city, but the problem of easy access was still to be solved.</span>
            <span id="readMore">Read more ...</span><br>
            <span id="longIntro"><br>Although plans for a freight and passenger incline are known to have existed much earlier, financial backing 
                was exceedingly hard to find--even the modest sum of $47,000--and actual construction was delayed. 
                Eventually, of course, difficulties were overcome and the Incline was built. It was opened to the public 
                May 20, 1877. The Duquesne Incline was the first Pittsburgh incline designed and built by Samuel Diescher, 
                for Kirk Bigham and Associates. Mr. Diescher, an engineer, had become the country's foremost builder of inclines. 
                He was also to design and build most of those that followed.<br>
                <br>At the time of its public opening, it was one of four inclined planes serving the summit of Coal Hill, which later 
                came to be known as Mount Washington. The Duquesne Incline was operated, from 1877 until 1962 by The Duquesne 
                Inclined Plane Company. From 1964 until the present, the Incline has been operated by the Society for the 
                Preservation of The Duquesne Heights Incline; it has been owned by the Port Authority of Allegheny County.</span>
            <br>
            <span id="readLess">Read less</span>
        </div>
        <br>
        
        <div class="logo-intro-container">
            <img src="../static/hoisting.jpg" class="hoisting" alt="Duquesne Incline Hoisting">
            <img src="../static/historydrawing.png" class="history-drawing" alt="Duquesne Incline Drawing">
            <div>
                <h4 id="construction-header">Construction Facts about the Incline:</h4>
                <div class="early-section">
                    <ul>
                        <li>Opened to Public: May 20, 1877</li>
                        <li>Cost to Build: $47,000</li>
                        <li>Length of Track: 794 feet</li>
                        <li>Elevation: 400 feet</li>
                        <li>Grade: 30.5 degrees</li>
                        <li>Speed: 6 miles per hour</li>
                        <li>Passenger: Capacity 18 per car</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>

        <h4 id="society-header">The Society for the Preservation of the Duquesne Heights Incline:</h4>
        <div class="early-section">
            <p>The Society for the Preservation of the Duquesne Heights Incline was formed in 1964 by the Duquesne Heights/Mount 
                Washington neighborhood group that had rescued, repaired, and reopened the Incline in 1963. The purpose was to 
                continue to restore and rehabilitate the cars, equipment, and both stations, and to establish the entire operation 
                as a reliable commuter facility and a popular visitor attraction.  Memberships in the society are available, call 
                for details.</p>
        </div>
    </div>
    <footer>Banner courtesy of "Visit Pittsburgh", Images courtesy of "Flickr" and "The American Society of Mechanical Engineers"</footer>

</body>
</html>